<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="homest.css">
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="db">
        <div class="info">
            <h2>Managing your finance just got a whole </h2>
            <h3>lot easier with </h3>
            <h1>Expense Manager !</h1>
        </div>
        <div id="animation-container"></div>
    </div>

    <%- include('./partials/script') %>
    <%- include('./partials/animation') %>
</body>
</html>