<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="manifest" href="/manifest.json">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="homest.css">
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="db">
        <div class="info">
            <h2>Managing your finance just got a whole </h2>
            <h3>lot easier with </h3>
            <h1>Expense Manager !</h1>
        </div>
        <div id="animation-container"></div>
    </div>

    <%- include('./partials/script') %>
    <%- include('./partials/animation') %>
    <script>
        window.addEventListener('beforeinstallprompt', (event) => {
            event.preventDefault();
            deferredPrompt = event;
            showInstallButton();
          });
          
          function showInstallButton() {
            installButton.style.display = 'block';
          }
          
          installButton.addEventListener('click', () => {
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
              if (choiceResult.outcome === 'accepted') {
                console.log('User accepted the install prompt');
              } else {
                console.log('User dismissed the install prompt');
              }
              deferredPrompt = null;
            });
          });
          
          if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js')
                .then((registration) => {
                  console.log('Service Worker registered: ', registration);
                })
                .catch((error) => {
                  console.error('Service Worker registration failed: ', error);
                });
            });
          }
    </script>
</body>
</html>